<%= link_to "Registrar equipo", '#data', :id => "register_team" %>
<div style="display:none"><div id="data">
  <%= form_for(@team) do |f| %>
    <% if @team.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>
        <ul>
          <% @team.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= f.label "Nombre del equipo" %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label "Nombre del proyecto" %><br />
      <%= f.text_field :project_name %>
    </div>
    <div class="field">
      <%= f.label "Descripción de la idea" %><br />
      <%= f.text_area :project_description %>
    </div>
    <%= f.fields_for :members do |m| %>
      <%= m.label "Nombre integrante 1" %><br />
      <%= m.text_field :name %><br />
      <%= m.label "Email integrante 1" %><br />
      <%= m.text_field :email %><br />
    <% end %>
    <%= f.fields_for :members do |m| %>
      <%= m.label "Nombre integrante 2" %><br />
      <%= m.text_field :name %><br />
      <%= m.label "Email integrante 2" %><br />
      <%= m.text_field :email %><br />
    <% end %>
    <%= f.fields_for :members do |m| %>
      <%= m.label "Nombre integrante 3" %><br />
      <%= m.text_field :name %><br />
      <%= m.label "Email integrante 3" %><br />
      <%= m.text_field :email %><br />
    <% end %>
    <%= f.fields_for :members do |m| %>
      <%= m.label "Nombre integrante 4" %><br />
      <%= m.text_field :name %><br />
      <%= m.label "Email integrante 4" %><br />
      <%= m.text_field :email %><br />
    <% end %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div></div>
