<%= link_to "Registro abierto: ¡Inscribe a tu equipo aquí!", '#data', :id => "register_team" %>
<div style="display:none"><div id="data">
  <%= form_for(@team) do |f| %>
    <% if @team.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>
        <ul>
          <% @team.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <h2>Registrar idea e integrantes de equipo</h2>
    <fieldset id="team_details">
      <%= f.text_field :name, :placeholder => "Nombre del equipo" %>
      <%= f.text_field :project_name , :placeholder =>"Nombre del proyecto"%>
      <%= f.text_area :project_description, :placeholder =>"Describe el proyecto" %>
    <%= f.fields_for :members do |m| %>
      <%= m.text_field :name, :placeholder => "Líder del equipo "%><br />
      <%= m.text_field :email, :placeholder => "Email del líder"%><br />
    <% end %>
    </fieldset>
    <fieldset id="members_details">
        <%= f.fields_for :members do |m| %>
      <%= m.text_field :name, :placeholder => "Nombre integrante 2"%><br />
      <%= m.text_field :email, :placeholder => "Email integrante 2"%><br />
    <% end %>
    <%= f.fields_for :members do |m| %>
      <%= m.text_field :name, :placeholder => "Nombre integrante 3"%><br />
      <%= m.text_field :email, :placeholder => "Email integrante 3"%><br />
    <% end %>
    <%= f.fields_for :members do |m| %>
      <%= m.text_field :name, :placeholder => "Nombre integrante 4"%><br />
      <%= m.text_field :email, :placeholder => "Email integrante 4"%><br />
    <% end %>
    </fieldset>
    <%= f.submit "Registrar equipo", :class => "submit" %>
  <% end %>
</div></div>
