<div id="header">

</div>
<div id="top_stripe">
  <div id="stripe_content">
    <div id="logo_fold"></div>
  </div>
</div>
<div id="wrapper">
  <div class="left">
    <section class="intro">
    <header>
    <h1 class="first">24Hr Open House Hackathon</h1>
    </header>
    <p>El hacking ha vuelto al Tec de Monterrey.</p>
    <p>Esta vez el desarrollo será abierto, ya sea que quieras crear un app mobile, web-based, un producto open source, o cual sea la categoría de tu idea,
    eres más que bienvenido(a).</p>
    <p>Si tienes una idea dentro de tu cabeza que quiere salir y ser explotada, &iexcl;ésta es la oportunidad! Re&uacute;ne a tu equipo y juntos dense a 
    la tarea de hackear este mundo llenándolo de ideas frescas.</p>
    <p>Te esperamos y no dudes en venir con las pilas al 100%, a compartir, aprender y producir. Conocerás mentores, grandes developers estudiantes y emprendedores de Monterrey.</p>
    <%= render :partial => 'teams/form' %>
    </section>
    <section class="details">
    <header>
    <h1>Detalles importantes</h1>
    </header>
    <div class="content">
      <h2>Registro</h2>
      <ul>
        <li>El registro se realiza por medio de este website a partir del <strong class="note">lunes 10 de octubre</strong>.</li>
        <li>Una vez confirmado el registro de tu equipo recibirás un correo de confirmaci&oacute;n con más detalles del evento.</li>
        <li>Hackathon tiene un costo de recuperación de $150 por persona, ahí van incluidas tres comidas, all-you-can-eat snacks, café y bebidas, así como la awesome Hacker t-shirt.</li>
        <li>El pago se deberá realizar una vez recibido el correo de confirmaci&oacute;n, en la dirección de carrera de ITC ubicada en A2-143. Si no conoces el Tec, podrás pagar con uno de los reps que te daremos a conocer vía e-mail.</li>
      </ul>
      <h2>Lugar</h2>
      <p>Esta vez el evento estar&aacute; divido en dos lugares. Las presentaciones de las ideas se dar&aacute;n en la Sala 1 de Centro Estudiantil y el <i>Hacking</i> lo haremos en el área Learning Commons de la biblioteca del Campus Monterrey.</p>
      <h2>Equipos</h2>
      <p>Los equipos estar&aacute;n conformados de 2 a 4 integrantes.</p>
      <p>No todos deben de ser developers, as&iacute; que si&eacute;ntanse libres de formar el equipo a su gusto.</p>
      <p>Apurate a registrar tu equipo porque tenemos <span class="note">&iexcl;l&iacute;mite de 15 equipos!</strong></p>
    </div>
    </section>
    <%= render "agenda" %>

    <%= render :partial => 'teams/form' %>
    <p></p>
    <section class="rules">
    <header>
    <h1>Lineamientos/reglas</h1>
    </header>
    <div class="content">
      <ul>
        <li>Un integrante del equipo tendr&aacute; que registrar la llegada del equipo el d&iacute;a del evento antes de las 15:00 hrs. 
        <li>El equipo completo tendr&aacute; que estar en la sala 1 de aulas 6 antes de las 15:10 hrs.</li>
        <li>Las aplicaciones no deben de estar en fase de desarrollo antes del inicio del evento pero se permite el uso de APIs all the way.</li>
        <li>Se espera que tengas contigo las herrramientas y software necesario para desarrollar tu proyecto, no llegues a apenas a instalar ambientes!.</li>
      </ul>
    </div>
    </section>

    <section class="faq">
    <header>
    <h1>FAQ</h1>
    </header>
    <div class="content">
      <dl>
        <dt>&iquest;Me puedo quedar toda la noche dentro de biblioteca?</dt>
        <dd>Claro, ¡es de lo más cool! Todos los equipos son bienvenidos a quedarse dentro de biblioteca para no tener que parar la producci&oacute;n.</dd>
        <dt>&iquest;Tengo que estar ah&iacute; todo el tiempo?</dt>
        <dd>No necesariamente, pero las puertas del Tec se cierran a las 11:00 p.m. por lo tanto despu&eacute;s de esa hora no podr&aacute;s salir..</dd>
        <dt>&iquest;Puedo comer ah&iacute;?</dt>
        <dd>Nosotros proporcionaremos comida y algunos refrigerios pero tambi&eacute;n eres bienvenido a traer de tu propia cosecha.</dd>
        <dt>&iquest;En d&oacute;nde me registro?</dt>
        <dd>El registro lo puedes hacer dentro de esta p&aacute;gina pero el pago se realizar&aacute; en la Direcci&oacute;n de Carrera de ITC en A2-143 o con los reps anunciados.</dd>
        <dt>&iquest;Cu&aacute;ntos equipos participan?</dt>
        <dd>El n&uacute;mero m&aacute;ximo de equipos ser&aacute; 15.</dd>
        <dt>&iquest;Cu&aacute;ndo se cierra el registro?</dt>
        <dd>El registro se cerrar&aacute; el mi&eacute;rcoles 19 de octubre a las 23:59</dd>
        <dt>&iquest;Qu&eacute; necesito para el evento?</dt>
        <dd>S&oacute;lo necesitar&aacute;s traer tu laptop, ideas frescas y todo el &aacute;nimo bien prendido. Nosotros te proporcionaremos el espacio, comida, energ&iacute;a el&eacute;ctrica, internet, pizarrones y algunos otros materiales. </dd>
        <dt>&iquest;Qué gano con ir al hackathon?</dt>
        <dd>Ganas experiencia, sabiduría y mucho networking. Este evento es para los verdaderos apasionados por la creación de tecnología en México y el mundo. No hay mejor premio que ver tus ideas transformadas en un app que cambie la vida de alguien.</dd>
        <dt>&iquest;Con qui&eacute;n me puedo comunicar si tengo alguna duda?</dt>
        <dd>Si tienes alguna otra pregunta no dudes en escribiros al correo <a href="mailto:acm.monterrey@gmail.com">acm.monterrey@gmail.com.</a></dd>
      </dl>
    </div>
    </section>
  </div><!-- End of .left -->
  <div class="right">
    <div class="widget twitter">
      <script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'search',
  search: 'hackathonmty',
  interval: 30000,
  title: 'ACM Monterrey',
  subject: 'Hackathon 2011',
  width: 250,
  height: 300,
  theme: {
    shell: {
      background: '#333333',
      color: '#ffffff'
    },
    tweets: {
      background: '#292929',
      color: '#d1d1d1',
      links: '#3698c2'
    }
  },
  features: {
    scrollbar: true,
    loop: true,
    live: true,
    behavior: 'default'
  }
}).render().start();
</script>

    </div>
    <%= render :partial => 'shared/sponsors' %>
    <%= render :partial => 'shared/organizers' %>
  </div><!-- End of .right -->  
</div><!-- End of #wrapper -->

